.page {
  display: flex;
  flex-direction: column;
  width: 1080px;
  height: auto;
  margin: auto;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 17px;
  background-color: #E7F6FF;
}

.fon {
  background-color: white;
  margin-top: 85px;
  border-radius: 20px;
}

h1 {
font-weight: bold;
font-size: 32px;
line-height: 39px;
}

h3 {
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #000000;
}

.page-header {
  height: 128px;
  border-bottom: 1px solid #EAEAEA;
}

.header-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 43px;
  padding-bottom: 44px;
  padding-left: 45px;
  padding-right: 45px;
}

.sum {
  text-decoration: none;
}

 .nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
 }

 .nav li {
  margin-left: 30px;
 }
.sum {
  font-weight: 600;
  color: #5C5C5C;
  margin-left: -20px;
}

.middle-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-field {
  width: 960px;
  height: 300px;
  background: #F4EFE9;
  margin: 0;
  margin-top: 45px;
  border-radius:20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about {
  width: 260px;
height: 160px;
padding-left: 20px;
padding-top: 16px;
}

.description {
font-weight: bold;
font-size: 38px;
line-height: 46px;
color: #8BB43C;
margin: 0;
padding-left: 40px;
padding-top: 32px;
}

.forever-word {
  color: black;
}

.buy-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 177.46px;
  height: 47.09px;
  background: #A5D364;
  border:none;
  border-radius: 110px;
  margin-left: 40px;
  margin-top: 25px;
}
.buy-button:hover {
  background: black;
  transition: all .3s linear;
}

.funny-picture {
background-image: url(img/funny-picture.svg);
width: 641.18px;
height: 300px;
}

.slider-button {
  min-width: 40px;
  min-height: 40px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  color: #6653d9;
  opacity: 1;
  background-image: url(img/slider-button.svg);
  margin-left: -75px;
  margin-right: -20px;
  margin-top: 130px;
}

.section1-field {
  width: 960px;
  height: auto;
}

.products-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 210px);
  gap:40px;
  padding-left: 0;
 }

.product-card {
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  padding: 20px;
  padding-left: 30px;
  padding-right: 22px;
  transition: all .2s linear;
}

.product-card:hover {
box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
transform: translate(0px, -10px);
transition: all .2s linear;
}

.product-photo1 {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("img/product-card1.svg");
  align-self: flex-start;
  width: 133px;
  height: 112px;
}

.product-photo2 {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("img/product-card2.svg");
  align-self: flex-start;
  width: 133px;
  height: 112px;
}

.product-photo3 {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("img/product-card3.svg");
  align-self: flex-start;
  width: 133px;
  height: 112px;
}

.product-photo4 {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("img/product-card4.svg");
  align-self: flex-start;
  width: 133px;
  height: 112px;
}

.product-photo5 {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("img/product-card5.svg");
  align-self: flex-start;
  width: 133px;
  height: 112px;
}

.product-photo6 {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("img/product-card6.svg");
  align-self: flex-start;
  width: 133px;
  height: 112px;
}

.product-photo7 {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("img/product-card7.svg");
  align-self: flex-start;
  width: 133px;
  height: 112px;
}

.product-photo8 {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("img/product-card8.svg");
  align-self: flex-start;
  width: 133px;
  height: 112px;
}

.product-photo9 {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("img/product-card9.svg");
  align-self: flex-start;
  width: 133px;
  height: 112px;
}

.product-photo10 {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("img/product-card10.svg");
  align-self: flex-start;
  width: 133px;
  height: 112px;
}

.product-photo11 {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("img/product-card11.svg");
  align-self: flex-start;
  width: 133px;
  height: 112px;
}

.product-photo12 {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("img/product-card12.svg");
  align-self: flex-start;
  width: 133px;
  height: 112px;
}

.product-card h3{
  margin-bottom: 3px;
  font-size: 14px;
  line-height: 17px;
  align-self: flex-start;
}

.product-card span {
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #000000;
align-self: flex-start;
}

.price-word {
font-weight: 500;
font-size: 11px;
line-height: 13px;
text-transform: uppercase;
color: #BDBDBD;
display: flex;
flex-direction: row;
justify-content: space-between;
width: 100%;
}

.add-buscket {
  padding: 10px 10px;
  min-width: 32px;
  min-height: 32px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("img/add-button.svg");
  align-self: center;

}

.added-buscket {
  padding: 10px 10px;
  min-width: 32px;
  min-height: 32px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("img/add-button-confirmed.svg");
  align-self: center;
}

.add-wishlist {
  align-self: flex-start;
  padding: 10px 10px;
  min-width: 32px;
  min-height: 32px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("img/add-wishlist.svg");
}

.added-wishlist {
  align-self: flex-start;
  padding: 10px 10px;
  min-width: 32px;
  min-height: 32px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url(img/add-wishlist-confirmed.svg);
}

.footer-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 43px;
  padding-bottom: 44px;
  padding-left: 45px;
  padding-right: 45px;
}

input{
width: 250px;
height: 45px;
border: 1px solid #F3F3F3;
box-sizing: border-box;
border-radius: 10px;
}
::-webkit-input-placeholder {
font-size: 14px;
line-height: 17px;
color: #C4C4C4;
background: url(img/search-photo.svg) no-repeat center left;
padding-left: 30px;
}

.search {
    display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}