.page {
  display: flex;
  flex-direction: column;
  width: 1080px;
  height: auto;
  margin: auto;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 17px;
  background-color: #E7F6FF;
}

.fon {
  background-color: white;
  margin-top: 85px;
  border-radius: 20px;
}

h1 {
font-weight: bold;
font-size: 32px;
line-height: 39px;
}

h3 {
font-size: 14px;
line-height: 17px;
color: #000000;
}

.page-header {
  height: 128px;
  border-bottom: 1px solid #EAEAEA;
}

.header-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 43px;
  padding-bottom: 44px;
  padding-left: 45px;
  padding-right: 45px;
}

.sum {
  text-decoration: none;
}

 .nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
 }

 .nav li {
  margin-left: 30px;
 }
.sum {
  font-weight: 600;
  color: #5C5C5C;
  margin-left: -20px;
}

.middle-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-field {
  width: 960px;
  height: 300px;
  background: #F4EFE9;
  margin: 0;
  margin-top: 45px;
  border-radius:20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about {
  width: 260px;
height: 160px;
padding-left: 20px;
padding-top: 16px;
}

.description {
font-weight: bold;
font-size: 38px;
line-height: 46px;
color: #8BB43C;
margin: 0;
padding-left: 40px;
padding-top: 32px;
}

.forever-word {
  color: black;
}

.buy-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 177.46px;
  height: 47.09px;
  background: #A5D364;
  border:none;
  border-radius: 110px;
  margin-left: 40px;
  margin-top: 25px;
}
.buy-button:hover {
  background: black;
  transition: all .3s linear;
}

.funny-picture {
background-image: url(img/funny-picture.svg);
width: 641.18px;
height: 300px;
}

.slider-button {
margin-left: -75px;
margin-right: -20px;
width: 35px;
height: 35px;
padding: 0;
margin-top: 130px;
}

.section1-field {
  width: 960px;
  height: auto;
}

.products-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 210px);
  gap:40px;
  padding-left: 0;
 }

.product-card {
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  padding: 20px;
  height: 280px;
}

.product-photo {
  margin: 0;
  margin-bottom: 14px;
  width: 133px;
  height: 112px;

}

.product-card h3{
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 17px;
}

.product-card span {
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #000000;
align-self: flex-start;
margin-top: 2px;
}

.price-word {
font-weight: 500;
font-size: 11px;
line-height: 13px;
text-transform: uppercase;
color: #BDBDBD;
margin-top: 0;
display: flex;
flex-direction: column;
align-self: flex-start;
width: 100%;
}

.add-button {
  align-self: flex-end;
    width: 32px;
  height: 32px;
}

.add-wishlist {
  align-self: flex-start;
  width: 32px;
  height: 32px;
}

.footer-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 43px;
  padding-bottom: 44px;
  padding-left: 45px;
  padding-right: 45px;
}

input{
width: 250px;
height: 45px;
border: 1px solid #F3F3F3;
box-sizing: border-box;
border-radius: 10px;
}
::-webkit-input-placeholder {
font-size: 14px;
line-height: 17px;
color: #C4C4C4;
background: url(img/search-photo.svg) no-repeat center left;
padding-left: 30px;
}

.search {
    display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}